.color-primary {
  color: $primary;
}
.color-secondary {
  color: $secondary;
}
.color-grey {
  color: $grey;
}
.svg-grey {
  fill: $grey;
}
.svg-primary {
  fill: $primary;
}
.svg-secondary {
  fill: $secondary;
}
