<div class="logos">
  <a class="logo" href="{{ '/' | relative_url }}"><img width="149px" height="25px" alt="{{ site.title }} Logo"
      src="{{ 'assets/images/logo.svg' | relative_url }}" /></a>
  <a class="logo-invert" href="{{ '/' | relative_url }}"><img width="149px" height="25px" alt="{{ site.title }} Logo"
      src="{{ 'assets/images/logo-invert.svg' | relative_url }}" /></a>
  <a class="logo-mobile" href="{{ '/' | relative_url }}"><img width="30px" height="30px" alt="{{ site.title }} Logo"
      src="{{ 'assets/images/logo-mobile.svg' | relative_url }}" /></a>
  <a class="logo-invert-mobile" href="{{ '/' | relative_url }}"><img width="30px" height="30px"
      alt="{{ site.title }} Logo" src="{{ 'assets/images/logo-invert-mobile.svg' | relative_url }}" /></a>
</div>