---
layout: default
title: "Meet The Team"
subtitle: "Our team of qualified accountants and financial consultants can help your business at any stage of it's
growth."
body_classes: page-team-list
---

<div class="intro intro-big">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ page.title }}</h1>
        <p>{{ page.subtitle }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {% for team in site.team %}
    <div class="col-12 col-md-6 mb-3 mb-md-3">
      <div class="team team-summary">
        {% if team.image %}
        <div class="team-image">
          <img alt="{{ team.title }} logo" class="img-fluid mb-2" src="{{ team.image | relative_url}}" />
        </div>
        {% endif %}
        <div class="team-block">
          <div class="team-meta">
            <h2 class="team-name">{{ team.title }}</h2>
            <div class="team-jobtitle">{{ team.jobtitle }}</div>
            <div class="team-links">
              {% if team.linkedin_url %}
              <a class="team-linkedin" target="_blank" href="{{ team.linkedin_url }}">
                <i class="fab fa-linkedin"></i>
              </a>
              {% endif %}
              {% if team.twitter_url %}
              <a class="team-linkedin" target="_blank" href="{{ team.twitter_url }}">
                <i class="fab fa-twitter-square"></i>
              </a>
              {% endif %}
              {% if team.dribble_url %}
              <a class="team-linkedin" target="_blank" href="{{ team.dribble_url }}">
                <i class="fab fa-dribbble-square"></i>
              </a>
              {% endif %}
              {% if team.behance_url %}
              <a class="team-linkedin" target="_blank" href="{{ team.behance_url }}">
                <i class="fab fa-behance-square"></i>
              </a>
              {% endif %}
            </div>
          </div>
          <div class="team-content">{{ team.content }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>