<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% if page.meta_title %}{{ page.meta_title }}{% elsif page.title %}{{ page.title }} - {{ site.title}}{% else
    %}{{ site.title
    }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="{{ '/favicon.png' | relative_url }}">
  <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">
  <script type="text/javascript" src="{{ '/assets/js/libs/jquery-3.3.1.min.js' | relative_url }}"></script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% if page.meta_description %}
  <meta name="description" content="{{ page.meta_description }}" />{% endif %}
  {% if page.meta_og_title %}
  <meta property="og:title" content="{{ page.meta_og_title }}" />{% endif %}
  {% if page.meta_og_type %}
  <meta property="og:type" content="{{ page.meta_og_type }}" />{% endif %}
  {% if page.meta_og_url %}
  <meta property="og:url" content="{{ page.meta_og_url }}" />{% endif %}
  {% if page.meta_og_image %}
  <meta property="og:image" content="{{ page.meta_og_image }}" />{% endif %}
  {% if page.meta_og_description %}
  <meta property="og:description" content="{{ page.meta_og_description }}" />{% endif %}
  {% if page.meta_twitter_card %}
  <meta name="twitter:card" content="{{ page.meta_twitter_card }}" />{% endif %}
  {% if page.meta_twitter_site %}
  <meta name="twitter:site" content="{{ page.meta_twitter_site }}" />{% endif %}
  {% if page.meta_twitter_creator %}
  <meta name="twitter:creator" content="{{ page.meta_twitter_creator }}" />{% endif %}
  
</head>

<body
  class='page {% if page.body_classes %}{{ page.body_classes }}{% elsif layout.body_classes %}{{ layout.body_classes }}{% endif %}'>
  {% include main-menu-mobile.html %}
  <div id="header"
    class='header {% if site.params.global.header_fixed %}header-fixed{% endif %} {{ page.header_classes }}'>
    {% include header.html %}
  </div>
  <div id="wrapper" class="wrapper">
    {{content}}
  </div>

  {% include footer.html %}
  {% include footer-second.html %}
  {% include footer-third.html %}


  <script type="text/javascript" src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/header.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/hamburger.js' | relative_url }}"></script>

  {% include google-analytics.html %}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>