---
layout: default
body_classes: page-services-single
---

{% include hero-image.html
background=page.heroBackground
fullscreen=page.heroFullscreen
height=page.heroHeight
heading=page.title
subheading=page.heroSubHeading
overlay=page.heroBackgroundOverlay
diagonal=page.heroDiagonal
diagonalfill=page.heroDiagonalFill
%}

<div id="hero-anchor" class="strip strip-white pb-4 pt-4 pb-md-10 pt-md-7">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-8 col-lg-7">
        <div class="service service-single">
          <div class="content">{{page.content}}</div>
        </div>
      </div>
      <div
        class="col-12 col-md-4 col-lg-4 offset-lg-1 {% if page.heroFullscreen == nil %}section-menu-negative{% endif %}">
        {% include collection-list.html collection="services" %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ '/assets/js/pages/services.js' | relative_url }}"></script>